.main-menu {
    &__item {
       background: transparent;
       border: none;
       border-radius: 0;
       color: #000;
       display: block;
       width: 100%;

       &:not(:last-child) {
           border-bottom: 1px solid #000;
        }
    }
}